   ol, ul {
	list-style: none;
	  }

.navbar
{ 
    height:100px;
    font-size:large;
}

.logo
{
    max-width:200px; margin-top: -7px;
}

/*Home*/

.home
{
    background: url("../images/senior1.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color:white;
    font-size: 40px;
}

/*Over ons*/

.ava
{
    height: 80px;
    width:80px;
    border-radius: 200px;
}

.overons
{
    text-align: center;
    font-size: 12px;
    background:content-box fixed;
    background-size: cover;
    height: 100%;

}

#btn
{
    color:white;
    position:center;
    bottom:0;
}

/*Senioren*/

.senioren
{
    background: url("../images/senior2.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#seniorentext
{
    color: white;
    vertical-align: auto;
    font-size: 16px;
}

/*Studenten*/

.studenten
{
    background: url("../images/student.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
   
#studententext
{
    color: white;
    vertical-align: auto;
    font-size: 16px;
}


/*Inschrijven*/

#inschrijven
{
    text-align: center;
    font-size: 12px;
    background:content-box fixed;
    background-size: cover;
    height: 100%;
}

.inschrijven
{
  position: relative;
  top: 25%;
  transform: translateY(-25%);
}

.prijzen
{
    display: inline;
}

.space 
{ 
    margin-top: 70px; 
}

.btn-primary 
{
    background: #404040;
    color: white;
    width: 150px;
}

.btn-primary.outline
{
    border: #404040;
    color: #404040;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #262626;
}



/*Maps*/

#map
{
    width: auto;
    height: 500px;
}


/*Contact*/

.contact
{
    text-align: center;
    font-size: 12px;
    background:content-box fixed;
    background-size: cover;
    height: 100%;
}


/* List:
 Zorgt voor streepjes naast de woorden onderaan in de footer.menu in plaats van de normale bolletjes in een ul; */

	ul.default {
		list-style: disc;
		padding-left: 1em;
	}

		ul.default li {
			padding-left: 0.5em;
		}

	ul.icons {
		cursor: default;
	}

		ul.icons li {
			display: inline-block;
		}

		ul.icons a {
			display: inline-block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			border: 0;
		}

	ul.menu {
		cursor: default;
	}

		ul.menu li {
			display: inline-block;
			line-height: 1em;
			border-left: solid 1px rgba(145, 146, 147, 0.25);
			padding: 0 0 0 0.5em;
			margin: 0 0 0 0.5em;
		}

			ul.menu li:first-child {
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}

	ul.actions {
		cursor: default;
	}

		ul.actions li {
			display: inline-block;
			margin: 0 0 0 0.5em;
		}

			ul.actions li:first-child {
				margin-left: 0;
			}

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}


/* Footer */
#footer {
		position: relative;
        display: block;
		height: 30em;
		margin: 0;
		background: #2c2c2c;
		color: #999;
		color: rgba(185, 186, 187, 0.5);
		overflow: hidden;
		bottom:0;
	}

      #hr {
      position:absolute;
      background: #4a4a4a;
      margin-top:25em;
      width:150em;
      height:.05em;
}
      
	  #footer b{
	  	display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
	  }

		#footer a {
			color: #999;
			color: rgba(185, 186, 187, 0.5);
		}

			#footer a:hover {
				color: #bbb;
				color: #b9babb;
			}

		#volgons {
			position:absolute;
			margin-top: 1.5em;
			margin-left: 14em;
			
			
			
		}

		    #volgons a{
		    	padding:0.7em;
		    	padding-left:0;

		    }

		 #tweets{
		 	position:absolute;
		 	margin-top: 1.5em;
		 	margin-left:50em;
		 } 

		 #nieuws{
		 	position: absolute;
		 	margin-top: 1.5em;
		 	margin-left: 94em;
		 	margin-right: 5em;
		 }  

		#footer .copy {
			position: absolute;
			left: 11em;
			bottom: 0;
			height: 5em;
			line-height: 5em;
			margin:0;
			
		}

			#footer .copy li {
				font-size: 1.1em;
				margin: 0;
			}

				#footer .copy li a {
					padding: 0.5em;
				}


		#footer .menu {
			position: absolute;
			right: 16em;
			height: 5em;
			line-height: 5em;
			margin:0;
			bottom: 0;
            
		}

			#footer .menu li {
				font-size: 1.3em;
			}

