.navbar
{ 
    height:100px;
    font-size:large;
}

.logo
{
    max-width:200px; margin-top: -7px;
}

/*Home*/

.home
{
    background: url("../images/senior1.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center; 
    font-size: 40px;
}



/*Over ons*/

.ava
{
    height: 80px;
    width:80px;
    border-radius: 200px;
}

.overons
{
    text-align: center;
    font-size: 12px;
    background:content-box fixed;
    background-size: cover;
    height: 100%;

}

.fa-arrow-circle-down
{
    color:white;
    position:absolute;
    bottom:0;
}

/*Senioren*/

.senioren
{
    background: url("../images/senior2.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.seniorentext
{
    background-color:white;
    text-align: left; 
    font-size: 20px;
}

/*Studenten*/

.studenten
{
    background: url("../images/student.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
   
.studententext
{
    background-color:white;
    text-align: left; 
    font-size: 20px;
}

/*Maps*/

/*Hier komt de maps opmaak*/ 


/*Contact*/

/*Contact formulier zie de website van bootstrap*/


/* Footer */
#footer {
		position: relative;
        display: block;
		height: 22em;
		margin: 0;
		background: #2c2c2c;
		color: #999;
		color: rgba(185, 186, 187, 0.5);
		overflow: hidden;
		bottom:0;
	}

      #hr {
      position:absolute;
      background: #4a4a4a;
      margin-top:18em;
      width:150em;
      height:.05em;
}
      
	  #footer b{
	  	display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
	  }

		#footer a {
			color: #999;
			color: rgba(185, 186, 187, 0.5);
		}

			#footer a:hover {
				color: #bbb;
				color: #b9babb;
			}

		#volgons {
			position:absolute;
			margin-top: 1.5em;
			margin-left: 5em;
			
			
			
		}

		    #volgons a{
		    	padding:0.7em;
		    	padding-left:0;

		    }

		 #tweets{
		 	position:absolute;
		 	margin-top: 1.5em;
		 	margin-left:25em;
		 } 

		 #nieuws{
		 	position: absolute;
		 	margin-top: 1.5em;
		 	margin-left: 40em;
		 	margin-right: 5em;
		 }  

		#footer .copy {
			position: absolute;
			left: 5em;
			bottom: 0;
			height: 5em;
			line-height: 5em;
			margin: 0;
			
		}

			#footer .copy li {
				font-size: 0.9em;
				margin: 0;
			}

				#footer .copy li a {
					padding: 0.5em;
				}


		#footer .menu {
			position: absolute;
			right: 5em;
			height: 5em;
			line-height: 5em;
			margin:0;
			bottom: 0;
            
		}

			#footer .menu li {
				font-size: 0.9em;
			}
